@model IEnumerable<projektowaniaOprogramowania.ViewModels.PodanieKandydataModel>

@{
    ViewData["Title"] = "Wybierz kandydata";
}

<h1>Wybierz kandydata:</h1>
<h1>Wybierz kandydata:</h1>
<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="nazwiskoFilter">Filtruj po nazwisku:</label>
        <input type="text" name="nazwiskoFilter" value="@ViewData["CurrentFilter"]" class="form-control text-dark" />
    </div>
    <div class="form-group">
        <input type="submit" value="Wyszukaj" class="btn btn-primary" />
    </div>
    <a href="@Url.Action("Index", new { nazwiskoFilter = "" })" class="btn btn-secondary">Wyczyść filtr</a>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataZlozeniaPodania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CzyAktywny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusPodania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kandydat)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataZlozeniaPodania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CzyAktywny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPodania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kandydat.Email)
            </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Kandydat.Imie)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Kandydat.Nazwisko)
             </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FkIdKandydat">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>