@model projektowaniaOprogramowania.ViewModels.RekrutacjaViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RekrutacjaViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOtwarciaRekrutacji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOtwarciaRekrutacji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZamknieciaRekrutacji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZamknieciaRekrutacji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZamknieciaPrzyjec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZamknieciaPrzyjec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StopienStudiow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StopienStudiow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusRekrutacji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusRekrutacji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemestrRekrutacji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemestrRekrutacji)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
