@model IEnumerable<projektowaniaOprogramowania.ViewModels.CollegeStructures.WydzialModel>

<h1>@ViewBag.Header</h1>

 <form asp-action="@ViewBag.FilterActionRedirect" method="get">

	<div class="d-flex flex-row text-center">
		<div class="form-field col-md-6">
			<label for="department">Wydział: wybierz wydział</label>
			<select class = "text-dark" name="wydzialIdFilter">
				@foreach (var wydzial in Model)
				{
					<option class="text-dark" value="@wydzial.Id" selected="@(ViewBag.WydzialIdFilter == wydzial.Id ? "selected" : "")">@wydzial.NazwaWydzialu</option>
				}
			</select>
		</div>
		<div class="form-field col-md-6">
			<label for="programName">Nazwa kierunku:</label>
			<input value="@ViewBag.KierunekNameFilter" class="text-dark" type="text" name="kierunekNameFilter">
		</div>
	</div>
	<div class="text-center">
		<button class="btn-primary" type="submit">Wyszukaj</button>
		<button class="btn-primary" type="reset" >Wyczyść filtr</button>
	</div>
</form>
